@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    font-family: "Roboto Consdensed", sans-serif;
}

.logo {
    width: 120px;
    margin-left: 40px;
}

.signin {
    position: relative;
    display: inline;
    margin-top: 0px;
    margin-right: 30;
}

.form-container {
    margin-left: 200px;
    margin-top: 100px

}

.google {
transform: scale(20%);
}

.facebook {
    transform: scale(20%);
}

.signin-google {
    position: relative;
    display: inline-block;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04);
}

span {
    float: right;
    margin-right: 80px;
    margin-top: 10px;
}