@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    font-family: "Roboto Consdensed", sans-serif;
}

.logo {
    width: 120px;
    margin-left: 100px;
}

#signin {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 1450px;
 }

.form-container {
    margin-left: 200px;
    margin-top: 100px
}

.button-container {
    width: 120px;
    height: 100px;
    position: relative;
    display: inline;
    margin-right: 5px;

}

.button-container2 {
    width: 120px;
    height: 100px;
    position: relative;
    display: inline;
    margin-left: 25px;
}

img.facebook {
    width: 35px;
}

img.google {
    width: 33px;
}
.signin-google {
    background-color: #4285f4;
    border: none;
    border-radius: 2px;
}

.google-text {
    color: white;
    display: inline;
}

.signin-facebook {
    background-color: #3b5998;
    border: none;
    border-radius: 2px;
}

.facebook-text {
    color: white;
    display: inline;
}

.text {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

.email {
    padding-top: 10px;
    padding-right: 500px;
    padding-bottom: 10px;
}

.password {
    padding-top: 10px;
    padding-right: 500px;
    padding-bottom: 10px;
}

.submit {
    background-color: white;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-top-left-radius: 40%;
    padding: 10px 10px 10px 10px;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border: 3px dashed #d0d0d0;
    margin-bottom: 180px;
}

.account-text {
    color: #d0d0d0;
    font-size: 20px;
    display: inline;
}


span {
    margin-right: 400px;
    margin-top: 50px;
    position: relative;
    display: inline-block;
}

#issuu{
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 1450px;
    margin-left: 100px;
    color:#d0d0d0;
 }

.footer {
    
}

a {
    color:#4285f4;
}

#terms {
    color: darkgray;
}

#privacy {
    color: darkgray;
}

#dmca {
    color: darkgray;
}
